@import url('https://fonts.googleapis.com/css?family=Arimo:700&subset=cyrillic');


body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "century gothic", "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	color: white;
}
h1 {
	font-size: 2.5em;
}
h2{
	line-height: 2em;
}
h3 {
	text-align:center;
}
a {
	text-decoration: none;
	color: white;
	font-size: 1.5em;
}
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
/*Styles for Header*/
header {
	position: relative;
	max-width: 1440px;
	background: #020312;
	height: 62px;
}
.phone-number {
  display: inline-block;
  padding-top: 0.9em;
}
/*Styles for social icons in the Header*/
.social-icons{
	list-style: none;
	float: right;
}
.social-icons li{
	display: inline-block;
	margin-right: 2em;
}
.social-icons a{
	width: 2em;
  padding: 0;
  display: inline-block;
}
.twitter-icon:hover{
	fill: #26A6D1;
	transition: all 0.5s;
}
.facebook-icon:hover {
	fill: #3B5998;
	transition: all 0.5s;
}
.vk-icon:hover {
	fill: #597da3;
	transition: all 0.5s;
}
/*End of styles for social icons*/
.clearfix:before {
	display: table;
	content: " ";
}
.clearfix:after {
	clear: both;
}
/*End of styles for Header*/

/*Styles for promo section*/
#promo-section {
	width: 100%;
	height: 821px;
	background: url("../images/grey-london.jpg") fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow:0 0 0 30em rgba(0, 0, 0, 0.66) inset;
}
.headers {
	margin: 10em;
}
.btn-of-contact {
	background-color: #e2e2e2;
	color: #020312;
	border-radius: 5px;
	padding: 0.5em;
}
.btn-of-contact:hover {
	background-color: #020312;
	color: #e2e2e2;
	transition: all 0.5s;
}
.person {
	margin-right: 1em;
	right: 0;
	bottom: 10em;
	position: absolute;
	float: right;
}
/*End of styles for promo section*/

/*Styles for section of pluses*/
#pluses-of-choosing {
	background-color: #e2e2e2;
	text-align: center;
	color: black;
}
#pluses-of-choosing td {
	font-size: 1.6em;
	font-weight: 700;
	padding: 2em;
}
.table-of-pluses {
	margin: 0 auto;
}
/*End of styles for section of pluses*/

/*Styles for communication section*/
#communication {
	color: white;
	background-color: #020312;
	height: 821px;
}
#communication h1 {
 text-align: center;
}
#communication span,label,p {
	font-size: 1.3em;
}
.main-form {
	margin-top: 5%;
	margin-left: 30%;
}
.first-row {
	display: flex;
	flex-wrap: wrap;
}
.form-group label, p{
	display: block;
	margin-left: 1em;
}
.form-control {
	background-color: rgba(255, 255, 255, .1);
	border: 0;
	color: #e2e2e2;
	padding: 1em;
	margin: 1em;
}
.f-row{
	width: 13em;
}
.f-social {
	width: 30em;
}
.f-text {
	width: 30em;
}
.form-button {
	background-color: #e2e2e2;
	border: 0;
	border-radius: 5px;
	color: #020312;
	padding: 1em 4em;
	margin-top: 2em;
	cursor: pointer;
}
.form-button:hover {
	background-color: rgba(255, 255, 255, .1);
	color: #e2e2e2;
	transition: all 0.5s;
}
/*End of styles for communication*/

/*Styles for Footer*/
#footer {
	background-color: #141223;\
	position: relative;
	height: 62px;
}
.credits {
	text-align: left;
	display: inline-block;
	margin-top: 1em;
	margin-left: 2em;
	opacity: 0.3;
}
.credits a {
	font-size: 14px;
}
/*End styles for footer*/















